<% url = url_for(menu_item.full_url) -%>
<% active = !menu_item.parent_id && request.env['REQUEST_URI'].include?(url) -%>
<% expandable = !menu_item.children.empty? -%>
<li<% if active || expandable %> class="<%= 'active' if active %><%= "#{' ' if active}expandable" if expandable %>"<% end %>><a href="<%= url %>"><span><%= menu_item.name %></span><!--[if gt IE 6]><!--></a><!--<![endif]--><% unless menu_item.children.empty? -%><!--[if lt IE 7]><table border="0" cellpadding="0" cellspacing="0"><tr><td><![endif]--><ul><%= render :partial => 'main/menu_item', :collection => menu_item.children %></ul><!--[if lt IE 7]></td></tr></table><![endif]--><% end %><!--[if lt IE 7]></a><![endif]--></li>
