<table class="grid">
  <thead>
    <tr><th colspan="3">Data Center</th></tr>
  </thead>
  <tbody>
<% for data_center in @data_centers -%>
    <tr class="row <%= cycle 'one', 'two' %>"><td><%= link_to_if(data_center['featured'], data_center['name'], data_center_path(data_center['slug'])) %></td><td class="center large"><%= data_center['distance'].to_f.decimalize %><div class="quiet">mile<%= 's' if data_center['distance'] != 1 %></div></td><td class="right"><%= button_link('Get a Quote', data_center_path(data_center['slug'], :quote => 'yes'), :class => 'small')%></td></tr>
<% end -%>
  </tbody>
</table>