<% @css.push('home') -%>
<% @js.push('home') -%>
<% content_for :top do -%>
  <div id="carousel">
    <div class="item colocation active">
      <h2>Colocation</h2>
      <p>
        ColocationXchange provides access to virtually every data center in the world and will source the best colocation solution available.
      </p>
      <p><%= link_to('Learn More &raquo;', '/solutions/colocation') %></p>
    </div>
    <!-- <div class="item bandwidth">
      <h2>Bandwidth</h2>
      <p>
        Whether you are looking for Private Line, Internet Access, MPLS or Dark Fiber ColocationXchange can help you reduce your network expenditure.
      </p>
      <p><%= link_to('Learn More &raquo;', '/solutions/bandwidth') %></p>
    </div> -->
    <div class="item bandwidth">
      <h2>NetworXchange</h2>
      <p>
        Real-time access to network providers at 70,000+ fiber connected building.
      </p>
      <p><%= link_to('Learn More &raquo;', '/solutions/bandwidth') %></p>
    </div>
    <div class="item managed-services">
      <h2>Managed Services</h2>
      <p>
        Complete Suite of Managed Infrastructure Services and Cloud Computing.
      </p>
      <p><%= link_to('Learn More &raquo;', '/solutions/managed-services') %></p>
    </div>
    <div class="item equipment">
      <h2>Equipment</h2>
      <p>
        Hardware solutions with flexible leasing and purchase options that reduce capital cost as you deploy infrastructure.
      </p>
      <p><%= link_to('Learn More &raquo;', '/solutions/equipment') %></p>
    </div>
  </div>
  <div id="submenu">
    <%= link_to('Colocation', '/solutions/colocation', :class => 'active first', :rel => 'colocation') %><%= link_to('Bandwidth', '/solutions/bandwidth', :rel => 'bandwidth') %><%= link_to('Managed Services', '/solutions/managed-services', :rel => 'managed-services') %><%= link_to('Equipment', '/solutions/equipment', :rel => 'equipment') %>
  </div>
<% end -%>
<a class="square-button colocation" href="<%= colocation_quote_path %>">Colocation<span class="learn-more">Get a Quote &raquo;</span></a>
<a class="square-button bandwidth" href="<%= bandwidth_quote_path %>">Bandwidth<span class="learn-more">Get a Quote &raquo;</span></a>
<a class="square-button managed-services" href="<%= managed_services_quote_path %>">Managed Services<span class="learn-more">Get a Quote &raquo;</span></a>
<a class="square-button equipment" href="<%= equipment_quote_path %>">Equipment<span class="learn-more">Get a Quote &raquo;</span></a>
<div id="news">
  <h3>News and Updates</h3>
  <% @news_items.each do |news_item| -%>
  <%= link_to("<b>#{news_item.date.strftime('%B')} #{news_item.date.strftime("%d").gsub(/^0/, '')}, #{news_item.date.strftime('%Y')}</b> - #{news_item.name.shorten(110)}", {:controller => 'main', :action => 'news_item', :id => news_item.slug}) %>
  <% end -%>
</div>
<div id="featured-site">
  <h3>The World's Highest Density Data Center</h3>
  <%= image_tag('home/featured-site.jpg') %>
  <p>
    407,000 SF of Space
    <br />250 MVA Operator-Owned Substation
    <br />146 MVA of Generator Capacity 
    <br />84 MVA of UPS Supply
    <br />44,000 Tons of System plus System Cooling
    <br /><%= link_to('Learn More &raquo;', page_path(:path => 'featured-site'), :class => 'learn-more float-right') %>5,400,000 CFM
  </p>
</div>