<% form_tag(quote_path) do %>
  <b>*</b> indicates a required field
  <br /><br />
  <%= hidden_field(:quote, :type) %>
  <fieldset class="collapsible toggled">
    <legend><b>1</b> Managed service requirements</legend>
    <div class="pad">
      <label class="block" for="quote_product">Select a product</label>
      <%= select(:quote, :product, ManagedServicesQuote::Product.options, {}, :class => 'large') %>
    </div>
  </fieldset>
  <fieldset class="collapsible toggled">
    <legend><b>2</b> Describe your requirements</legend>
    <div class="pad">
      <%= text_area(:quote, :note) %>
      <%= errors_on(:quote, :note) %>
    </div>
  </fieldset>
  <%= render :partial => 'main/contact', :locals => {:number => 3} %>
  <div class="center"><%= button('Submit this Quote') %></div>
<% end %>