<% if @results %>
<b><% if @results.empty? %>No results returned! Please try your search again.<% else %><%= @results.total_entries %> result<%= "s" unless @results.size == 1 %><% end %></b>
<% for result in @results %>
<p>
  <h2><%= link_to(highlight(result.name, params[:q].split(' ')), result.url) %></h2>
  <%= excerpt(highlight(result.html, params[:q].split(' ')), params[:q]) %>
</p>
<% end %>
<% end %>
<%= start_form({},:method => "get") %>
  <table class="form">
    <tr><th><label for="q">Search for:</label></th><td><%= text_field_tag("q",params[:q],:class => "text") %></td></tr>
    <tr><th></th><td><%= button("Search") %></td></tr>
  </table>
<%= end_form %>