<p>
  <b>Contact Details</b>
  <br /><div style="float:left;font-weight:bold;width:200px;">Name</div><div style="float:left;"><%= @contact.name %></div>
<% unless @contact.contact_method.blank? %>
  <br /><div style="float:left;font-weight:bold;width:200px;">Preferred contact method</div><div style="float:left;"><%= @contact.contact_method_name %></div>
<% end %>
<% unless @contact.email.blank? %>
  <br /><div style="float:left;font-weight:bold;width:200px;">E-mail</div><div style="float:left;"><%= mail_to(@contact.email) %></div>
<% end %>
<% unless @contact.phone.blank? %>
  <br /><div style="float:left;font-weight:bold;width:200px;">Phone</div><div style="float:left;"><%= @contact.phone %></div>
<% end %>
<% unless @contact.referer.blank? %>
  <br /><div style="float:left;font-weight:bold;width:200px;">Referring URL:</div><div style="float:left;"><a href="<%= @contact.referer %>"><%= @contact.referer %></a></div>
<% end %>
<% unless @contact.note.blank? %>
  <br /><div style="float:left;font-weight:bold;width:200px;">Note</div><div style="float:left;"><%= h(@contact.note).gsub("\n", '<br />') %></div>
<% end %>
  <br /><a href="<%= domain %>/admin/contacts/<%= @contact.id %>">View this contact</a>
</p>