<%= render :partial => "mail/header" %>
<b>You have received <%= @sub_quote_response.sub_quote.quote.tracking_number.downcase %> on <%= site_name %>.</b>
<br /><br />
<b>Data Center, Product, and Address</b>
<table style="font:normal 12px 'Lucida Grande',Verdana,Arial,sans-serif;">
  <tr><td style="font-weight:bold;width:120px;">Data Center:</td><td><%= @sub_quote_response.sub_quote.company_data_center.data_center.name %></td></tr>
  <tr><td style="font-weight:bold;">Product:</td><td><%= @sub_quote_response.sub_quote.product.name %></td></tr><% if @sub_quote_response.sub_quote.quote.address %>
  <tr><td style="font-weight:bold;">Address:</td><td><%= @sub_quote_response.sub_quote.quote.address.address %></td></tr><% end %><% unless @sub_quote_response.sub_quote.quote.note.blank? %>
  <tr><td style="font-weight:bold;">Notes:</td><td><%= h(@sub_quote_response.sub_quote.quote.note).gsub("\n",'<br />') %></td></tr><% end %><% unless @sub_quote_response.sub_quote.quote.power_requirements.blank? %>
  <tr><td style="font-weight:bold;">Power requirements:</td><td><%= h(@sub_quote_response.sub_quote.quote.power_requirements).gsub("\n",'<br />') %></td><% end %>
</table>
<% if @sub_quote_response.sub_quote.quote.referral %>
<br /><br />
<b>Contact</b>
<table style="font:normal 12px 'Lucida Grande',Verdana,Arial,sans-serif;">
  <tr><td style="font-weight:bold;width:120px;">Name:</td><td><%= @sub_quote_response.sub_quote.quote.contact.name %></td></tr>
  <tr><td style="font-weight:bold;">E-mails:</td><td><%= @sub_quote_response.sub_quote.quote.contact.emails.empty? ? "N/A" : @sub_quote_response.sub_quote.quote.contact.emails.collect{|email| email.name}.join("<br />") %></td></tr>
  <tr><td style="font-weight:bold;">Phones:</td><td><%= @sub_quote_response.sub_quote.quote.contact.phones.empty? ? "N/A" : @sub_quote_response.sub_quote.quote.contact.phones.collect{|phone| phone.name}.join("<br />") %></td></tr>
  <tr><td style="font-weight:bold;">Addresses:</td><td><%= @sub_quote_response.sub_quote.quote.contact.addresses.empty? ? "N/A" : @sub_quote_response.sub_quote.quote.contact.addresses.collect{|address| address.name}.join("<br />") %></td></tr>
  <tr><td style="font-weight:bold;">Websites:</td><td><%= @sub_quote_response.sub_quote.quote.contact.websites.empty? ? "N/A" : @sub_quote_response.sub_quote.quote.contact.websites.collect{|website| website.name}.join("<br />") %></td></tr>
</table><% end %>
<br /><br />Please contact <%= @sub_quote_response.sub_quote.quote.manager.name_with_email.gsub("<","&lt;").gsub(">","&gt;") %> with pricing information.
<%= render :partial => "mail/footer" %>