  <tr><th>Name</th><td><%= @instance.contact ? @instance.contact.name : 'n/a' %></td></tr>
  <% if contact = @instance.contact -%>
  <% unless contact.contact_method.blank? %>
    <tr><th>Preferred contact method</th><td><%= contact.contact_method_name %></td></tr>
  <% end %>
  <% unless contact.email.blank? %>
    <tr><th>E-mail</th><td><%= mail_to(contact.email) %></td></tr>
  <% end %>
  <% unless contact.phone.blank? %>
    <tr><th>Phone</th><td><%= contact.phone %></td></tr>
  <% end %>
  <% unless contact.referer.blank? %>
    <tr><th>Referring URL:</th><td><a href="<%= contact.referer %>"><%= contact.referer %></a></td></tr>
  <% end %>
  <% unless contact.note.blank? %>
    <tr><th>Note</th><td><%= h(contact.note).gsub("\n", '<br />') %></td></tr>
  <% end %>
  <% end -%>