<% @ignore_pages = ["/contact/sent", "/quote/sent"] -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= (@browsertitle || @title || site_tag_line) %> - <%= site_name %></title>
<% for stylesheet in @css -%>
  <%= stylesheet_link_tag(stylesheet) %>
<% end if @css -%>
  <!--[if IE]><%= stylesheet_link_tag('ie') %><![endif]-->
  <!--[if lte IE 6]><%= stylesheet_link_tag('ie6') %><![endif]-->
  <!--[if lte IE 7]><%= stylesheet_link_tag('ie67') %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag('ie7') %><![endif]-->
  <%= javascript_include_tag(*@js) if @js %>
  <!--[if lte IE 7]><%= javascript_include_tag('ie67') %><![endif]-->
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta http-equiv="Content-Language" content="EN" />
  <meta name="author" content="<%= @meta_author %>" /><% if @meta_copyright && @meta_copyright.is_a?(String) %>
  <meta name="copyright" content="<%= @meta_copyright.gsub("%Y",Date.today.year.to_s) %>" /><% end %>
  <meta name="robots" content="<%= @meta_robots %>" />
<% if Rails.plugins[:blog] -%>
  <link href="/<%= Blog.rss_url %>" rel="alternate" type="application/rss+xml" title="<%= @site_name %> RSS feed" />
<% end -%>
</head>
<body<%= " class=\"#{@page.slug.split("/").pop}\"" if @page %>>
  <div id="main">
    <div id="header">
      <a href="/" id="logo"><span></span></a>
      <% if false -%>
      <!-- <form action="<%= search_path %>" method="get" id="search">
        <%= link_to('Live Chat &raquo;') %>
        <input alt="Search..." class="replace search" name="q" type="text" value="<%= params[:q] || 'Search...' %>" /><input id="search-button" name="commit" src="/images/search-button.gif" type="image" />
      </form> -->
      <% end -%>
    </div>
<% cache(:controller => "main",:action => "main_menu") do -%>
    <div id="menu">
<% if @menu = Menu.find(:first, :conditions => ['name_based_models.name = ?', 'Main'], :include => [:menu_items]) -%>
<% item_width = 900 / (@menu.menu_items.size == 0 ? 1 : @menu.menu_items.size) -%>
<% @menu.menu_items.sort{|a,b| a.position <=> b.position}.each_with_index do |menu_item, index| -%><ul><%= render :partial => 'main/menu_item', :locals => {:first => index == 0, :menu_item => menu_item} %></ul><% end -%>
<% end -%>
    </div>
<% end -%>
    <%= yield :top %>
<% if @page && !(children = @page.root.active_children.reject{|page| @ignore_pages.include?(page.url)}).empty? -%>
    <div id="submenu">
      <% children.sort{|a, b| a.position <=> b.position}.each_with_index do |child, index| %><%= link_to(child.name, child.url, :class => index == 0 ? 'first' : nil) %><% end %>
    </div>
<% end -%>
    <div id="content">
      <div id="left">
<% if @advertisement_top -%>
        <%= @advertisement_top %>
        <div class="advertisement quiet">Advertisement</div>
<% end -%>
<% if @page && @page.url != '/' -%>
        <div id="breadcrumb">
          <%= link_to('Homepage', '/') %>&nbsp;/&nbsp;<%= @page.self_and_ancestors.reverse.map{|page| link_to(page.name, page.url) }.join('&nbsp;/&nbsp;') %>
        </div>
<% end -%>
<% if @title && !@notitle -%>
        <h1 id="title"><%= @title %></h1>
<% end -%>
<% for key in flash.keys.without(:quote_type).sort{|a,b| a.to_s <=> b.to_s} -%>
        <div class="<%= key.to_s.gsub("_","-") %> message"><span class="message-icon"></span><p><%= flash.delete(key) %></p></div>
<% end -%>
        <%= @page.html if @page %>
        <%= yield %>
      </div>
      <div id="right">
<% right = yield :right -%>
      <div class="container">
        <h3><span>Search For Colo</span></h3>
        <div class="inner-container pad">
          <%= render :partial => 'data_center_search' %>
        </div>
      </div>
<% if right.blank? -%>
      <div class="container">
        <h3><span>Data Center Markets</span></h3>
        <div class="inner-container">
          <div id="market-container">
            <ul class="list">
<% Market.find(:all, :order => 'city, state').each do |market| %>
              <li><%= link_to(market.name, market_quote_path(:city => market.city.gsub(' ', '+'), :state => market.state), :class => 'go') %></li>
<% end -%>
              <li><%= link_to('International Site', colocation_quote_path, :class => 'go') %></li>
            </ul>
          </div>
          <%= button_link('Get a Quote!', quote_path, :class => 'block center toggle', :rel => 'quote-types', :style => 'margin:5px;')%>
          <ul class="hidden list" id="quote-types">
            <li><%= link_to('Colocation Quote', colocation_quote_path, :class => 'go') %></li>
            <li><%= link_to('Bandwidth Quote', bandwidth_quote_path, :class => 'go') %></li>
            <li><%= link_to('Managed Services Quote', managed_services_quote_path, :class => 'go') %></li>
            <li><%= link_to('Equipment Quote', equipment_quote_path, :class => 'go') %></li>
          </ul>
        </div>
      </div>
<% else -%>
        <%= right %>
<% end -%>
      </div>
      <div style="clear:both; font-size:0; height:0;"></div>
    </div>
    <div id="footer">
<% cache(:controller => "main", :action => "footer_menu") do -%>
<% if footer_menu = Menu.find(:first, :conditions => ['name_based_models.name = ?', 'Footer'], :include => [:menu_items]) -%>
      <%= footer_menu.menu_items.sort{|a,b| a.position <=> b.position}.collect{|menu_item| link_to(menu_item.name,menu_item.full_url)}.join(' | ') %>
<% end -%>
<% end -%>
    </div>
  </div>
  <div id="copyright">
    &copy; 
    <%= Date.today.year %>, <%= site_name_legal %>, All Rights Reserved
<% if Configuration.self_advertise -%>
    <br />Site by <%= link_to '240blue', 'http://www.240blue.com' %>: Design &amp; Interactive
<% end -%>
  </div>
<% if Configuration.google_analytics_key && !Configuration.google_analytics_key.blank? -%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("<%= Configuration.google_analytics_key %>");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end -%>
</body>
</html>
